/* TODO:: add styling to settings buttons */
#map {
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
input[type="text"] {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    align-self: center;
}
input[type="text"]:focus {
    outline-color: rgb(24, 90, 189);
}
input[type="number"] {
    font-size: 0.8em;
    text-align: center;
    align-self: center;
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    height: 1.5em;
    padding: 0%;
}
/* increase scale to 1 after 360 horizontal pixels */
input[type="checkbox"] {
    transform: scale(0.8);
}
input[type="checkbox"]:hover {
    cursor: pointer;
}
button[type="button"]:focus {
    text-decoration: none;
    outline: none;
}
button[type="button"]:hover {
    cursor: pointer;
}
select:hover {
    cursor: pointer;
}
#form-container {
    padding-left: 0.3em;
}
#user-input-box {
    top: 0%;
    left: 0%;
    width: 100%;
    background-color:rgb(183, 193, 196);
    position: absolute;
    z-index: 99;
}
#directions-parent {
    display: flex;
}
#addresses-wrapper {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#flip {
    width: 3em;
    height: 100%;
    align-self: center;
}
#flip:focus {
    outline:auto;
}
#flip:hover {
    cursor:pointer;
}
#additional-options-wrapper {
    display: flex;
    height: 1.5em;
    background-color:rgb(183, 193, 196);
}
#there-are-back-text {
    padding-right: 0.5em;
}
#am-pm {
    font-size: 0.6em;
    border-style: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 10%;
    height: 2em;
    width: 2.2em;
}
#times-input-wrapper {
    display: flex;
}
#going-back-at-wrapper {
    margin-left: 1em;
}
.address-dimensions {
    height: 1em;
    width: 100%;
    border-radius: 3%;
}
.arrows-wrapper {
    display: flex;
    justify-content: center;
}

.margin-from-top-div {
    margin-top: 0.5em;
}
.vertical-line {
    background-color: black;
    width: 2px;
    height: 15px;
}

.left-shift {
    margin-right: 5px;
}
.right-shift {
    margin-left: 5px;
}
.arrow {
    position: absolute;
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 3px;
}
.top {
    vertical-align: top;
    transform: rotate(225deg);
    margin-right: 13px;
}
.bottom {
    transform: rotate(45deg);
    margin-left: 12px;
    margin-top: 8px;
}
.checkbox-padding {
    padding-right: 0.3em;
}
/* increase font-size to small after 360px horizontal width */
.text-with-border {
    font-size: 11px;
    align-self: center;
}
.text-underline {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 0.85em;
    text-decoration: underline;
}
.text-time {
    font-size: 11px;
    text-align: center;
}
.flex-wrapper {
    display: flex;
}
.time-block-wrapper {
    display:grid;
}
.colon {
    margin: 0px 2px;
 }
 .backslash {
     margin-left: 3px;
     margin-top: 3px;
 }
 .am-pm-margin {
     margin-left: 0.5em;
 }
 .am-pm-input-text {
    font-size: 0.6em;
    text-align: center;
    align-self: center;
    border-bottom-style: none;
    border-radius: 5%;
    height: 1.8em;
    width: 2em;
 }
 .time-date-border {
    border: none;
    border-radius: 10%;
 }
 .date-padding {
    padding-left: 0.2em;
 }
 .month-input {
     width: 1.7em;
 }
 .two-digit-input {
    width: 1.5em;
 }
 .year-input {
    width: 2.5em;
 }
 @media (min-width: 532px) and (max-width: 727px) {
     .top{
        margin-right: 12px;
     }
     .bottom{
         margin-left: 12px;
     }
 }